<mat-card>
    <mat-card-content class="centered-card">
                <a  class="a" routerLink="/acerca">contacto</a>
                <a  class="a" routerLink="/acerca">acerca de nosotros</a>  
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <mat-card-content class="card">
        <p>Socius es una empresa con más de 20 años brindando soluciones informáticas. Con sede en Santiago de Chile, hoy cuenta con cientos de empleados y múltiples clientes a lo largo de América Latina</p>
        <img  src="/assets/socius.jpg">
        <button class="botonesCancel" mat-button (click)="volver()">Volver</button>
    </mat-card-content>
</mat-card>