
  /* Estilo para el div centrado */
  .centered-card {
    justify-content: right;
    display: flex;
    width: 100%; /* Ancho del div */
    height: 30px; /* Alto del div */
    background-color: black; /* Fondo rojo */
  }

  .a{
    margin-right: 10px;
    margin-left: 20px;
    color: white;
  }

  .centered-card2 {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%; /* Ancho del div */
    height: 480px; /* Alto del div */
    background-color: white; /* Fondo rojo */
  }

  .card2{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 500px; 
    background-color: lightblue;
  }

  .cardLogin{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start; /* Esto alineará los elementos hacia arriba en la columna */
    width: 100%;
    height: 100%;
    background-color: aqua;
    text-align: center;
  }

/* Estilo para los elementos <mat-form-field> */
.inputs {
  width: 100%;
  margin-bottom: 10px; /* Añade espacio entre los campos */
}

.botones{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.filas{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 10px;
}

.span-element {
  margin-bottom: 20px; /* Agrega espacio debajo del elemento span */
}

.card{
justify-content: center;
align-items: center;
display: flex;
background-color: white;
}

/* Estilo CSS para agregar espacio entre los elementos <a> */
.esquinader a {
  margin-right: 10px; /* Agrega espacio a la derecha de cada enlace */
  background-color: black;
}

/* Alinea los elementos <a> en el eje principal (horizontal) */
.esquinader {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos en el espacio horizontal */
  width: 100%;
  background-color: black;
}
